node_modules
.env
.env.*
!.env.example

cache
artifacts
coverage
coverage.json

dist
bundle
types
typechain
typechain-types
snapshots
.gas-snapshot

frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.vscode
.idea
